body {
    background: #000000;
}

header, .navbar, footer.container-fluid{
    width: 100%;
    height: 166px;
    background: linear-gradient(92.18deg, #9B2BCF 35.79%, rgba(11, 179, 216, 0.91) 69.03%);
}

.first-home {
    width: 195px;
    height: 117px;
    font-family: 'Iceberg';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 117px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.last-home {
    width: 572px;
    height: 78px;
    margin-right: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.col-12 h1 {
    width: 573px;
    height: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    color: #9B2BCF;
    margin-top: 50px;
}

main {
    min-height: 574px;
}

.col-4 p {
    width: 600px;
    height: 165px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 55px;
    text-align: center;
    color: #0BB3D8;
}

.col-4 span {
    width: 67px;
    height: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 78px;
    text-align: center;
    color: #9B2BCF;
}

.col-4 button {
    margin-left: 150px;
    width: 282px;
    height: 84px;
    background: #6657CB;
    border: 3px solid #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}